.header__lang-link {
  text-decoration: none;
  max-width: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  transition: linear .35s;
}
.header__lang-link:hover {
  opacity: .8;
}

@media (max-width: 600px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}