/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

/*базовые стили*/

/*page*/
.page {
  width: 100%;
  background: #2A2C2F;
  font-family: 'Inter', 'Аrial', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/*header*/
.header {
  max-width: 1280px;
  min-height: 52px;
  margin: 0 48px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__lang-links {
  display: flex;
  align-self: flex-end;
  gap: 18px;
  text-decoration: none;
   /*обнулить стили у списков*/
   padding: 0;
   margin: 0;
   list-style: none;
}

.header__lang-link {
  text-decoration: none;
  max-width: 30px;
  min-height: 28px;
  margin-top: 46px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.header__lang-link:hover {
  opacity: 0.6;
}

.header__lang-link_active {
  text-decoration: underline;
  max-width: 30px;
  min-height: 28px;
  margin-top: 46px;
  font-weight: 400;
  font-size: 24px;
}
.header__logo {
  width: 100%;
  display: block;
  max-width: 176px;
  min-height: 52px;
  margin-top: 28px;
  margin-left: 48px;
}


/*lead*/
.lead {
  margin-bottom: 92px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.lead__image {
  max-width: 984px;
  width: 100%;
}
/*intro*/
.intro {
  margin: 0 148px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

.intro__title {
  margin: 0;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding-bottom: 40px;
}

.intro__place-accent {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.intro__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.intro__text {


}
/*photo-grid*/

/*places*/

/*cover*/

/*footer*/
