.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0;
  } 
}
@media (max-width: 800px) {
  .lead {
    margin-top: 48px;
  }
}
@media (max-width: 600px) {
  .lead {
    margin: 0 auto;
  }
}
